<mat-list>
    <mat-list-item>
        <mat-icon mat-list-icon>book</mat-icon>
        <p mat-line>Resources</p>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>forum</mat-icon>
        <h4 mat-line>Ask in Forum</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>people</mat-icon>
        <h4 mat-line>Make a Team</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>notifications</mat-icon>
        <h4 mat-line>Notifications</h4>
    </mat-list-item>
</mat-list>