

mat-icon {
    font-size:16px;
    position:Relative;
    top:3px;
    left:8px;
}

.mat-tab-label {
    &.mat-ripple {
        &.mat-tab-label-active {
            &.ng-star-inserted {
                min-width:60px;
                color:white;
            }
    }  
}}

a:visited {
    color:white;
}

.mat-tab-links {
    div {
        margin-right:20px;
    }
}