<mat-vertical-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="stateForm">
            <ng-template matStepLabel>What do you want to learn? </ng-template>
            <mat-form-field>
                <input type="text" matInput placeholder="Learning Goals" formControlName="stateGroup" required
                    [matAutocomplete]="autoGroup">
                <mat-autocomplete #autoGroup="matAutocomplete">
                    <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
                        <mat-option *ngFor="let name of group.names" [value]="name">
                            {{name}}
                        </mat-option>
                    </mat-optgroup>
                </mat-autocomplete>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>Choose a scenario</ng-template>
        <mat-grid-list cols="2" rowHeight="1:1">
            <ng-container *ngFor="let scenario of scenarios">
                <a routerLink="/scenario-view" routerLinkActive="active">
                    <mat-grid-tile>
                        <mat-card class="example-card">
                            <img mat-card-image src="{{scenario.image}}" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                {{scenario.title}}
                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>
                    </a>
            </ng-container>
        </mat-grid-list>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Receive feedback from stakeholders</ng-template>
        Feedback is essential to reach mastery.
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Earn trophies</ng-template>
        Earn trophies and share your success!
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-vertical-stepper>
